#result {
  position: absolute;
   width: 100%;
  max-width:870px;
  cursor: pointer;
  overflow-y: auto;
  max-height: 400px;
  box-sizing: border-box;
  z-index: 1001;
 }
 .link-class:hover{
  background-color:#5a99c4;
 }
 /* body {
  background-color: white;
  padding: 0 0 0 20%;
  margin: 5%;
}
#countryList {
  width: 70%;
  padding-left: 11%;
} */